.users {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
  padding: 4px 0px;
}

.users li {
  font-size: 14px;
  background-color: var(--primary-500);
  color: var(--secondary-500);
  line-height: 14px;
  padding: 0px 2px;
}