.roomUserList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.roomUserList h2 {
  font-size: 32px;
}

.roomUserList table {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: left;
}

.roomUserList table th {
  font-size: 18px;
  border-bottom: 2px solid var(--primary-500);
}

.roomUserList table th, .roomUserList table td {
  padding: 4px 8px;
}

.roomUserList table tr:nth-child(even) {
  background-color: var(--secondary-600);
}