@import-normalize;
@import url('./themes.css');

@import url('https://fonts.googleapis.com/css2?family=Kings&display=swap');

:root {
    --black: #373737;
    --white: #EDEDED;
    --link: #2C5585;
    --danger: #852C2C;
    --square-size: 60px;
    --font-family: 'Kings', cursive;
}

html, body {
  font-family: var(--font-family);
  font-size: 18px;
  background-color: var(--secondary-500);
  color: var(--primary-500);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    margin-bottom: 20px;
}

h1 {
    font-size: 72px;
}

a {
    color: var(--primary-900);
    text-decoration: underline;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}
