.gameBoard {
  display: flex;
  width: calc(var(--square-size) * 8 + 16);
  height: calc(var(--square-size) * 8 + 16);
  flex-direction: column;
  background-color: var(--secondary-300);
  border: 8px solid var(--primary-500);
  border-radius: 10px;
  overflow: hidden;
}

.gameBoardRow {
  width: calc(var(--square-size) * 8);
  display: flex;
  flex-direction: row;
}